.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  text-align: left;
}

.input-group label {
  font-weight: 500;
  color: #555;
}

.input-group input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #6e8efb;
  outline: none;
}